extends layout

block content
  div
    img(src='img/drawphone.svg', style='width:15%;')
    //span.glyphicon.glyphicon-pencil(aria-hidden='true',style="padding-right:2px;")
    //span.glyphicon.glyphicon-earphone(aria-hidden='true',style="padding-left:2px;")
  h1 Screenshots
  p A glimpse into Drawphone
  hr
  div(align='center')
    img(src='img/RA5HwjB.png', width='222')
    img(src='img/JgFvlRb.png', width='222')
    img(src='img/nVdQccl.png', width='222')
    img(src='img/VlfnAvL.png', width='222')
  br
  a.btn.btn-default.btn-lg(type='button', href="/") Back to Drawphone
